<div class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <div class="myDiv">
                <h2 class="text-center text-primary">
                    THE BASIC RULES OF STOCK TRADING
                </h2>
                <p class="text-info text-center">By <a href="http://www.dummies.com/?s=&amp;a=paul-mladjenovic">Paul Mladjenovic </a> </p>
                <h3 class="text-default ">
                    If you’re going to trade in stock, adhere to some golden rules to help you maximize your success (or at least minimize your potential losses):
                </h3>
                <br>

                <ul class="mylist text-default">
                    <li>
                        <strong>Don’t commit all your cash at once: </strong>In a fast-moving market, opportunities come up all the time. Try to keep some cash on hand to take advantage of those opportunities.
                    </li>
                    <li>
                        <strong>Have a plan: </strong>Try to have predetermined points at which you cut losses or take profits.
                    </li>
                    <li>
                        <strong>Understand that taking profits is not a sin: </strong>Sometimes, a bird in the hand is worth two in the bush. Markets can reverse fairly quickly. If you have a stock position sitting there with a fat profit, it can’t hurt
                        to take the profit. This action gives you cash for the next opportunity.
                    </li>
                    <li>
                        <strong>Discover hedging techniques: </strong>Just because you’re bullish doesn’t mean that you can’t also put on a bearish position. Hedging techniques protect you when the market moves against you.
                    </li>
                    <li>
                        <strong>Find out which events move markets: </strong>Research the market and discover what types of events tend to move it. Serious short-term traders keep one eye on their positions and the other on what’s going on in the world.
                        Keep informed by regularly reading financial publications and websites.
                    </li>
                    <li>
                        <strong>Check the stock’s trading history: </strong>Charts and related data tell you how a particular stock has moved in recent weeks, months, and years. Do you see any seasonality or reliable patterns that may help you judge future
                        movements?
                    </li>
                    <li>
                        <strong>Use stop-loss and limit orders: </strong>Using trade orders is an integral part of the trader’s overall strategy.
                    </li>
                    <li>
                        <strong>Use discipline and patience versus emotion and panic: </strong>Part of the human equation in the world of financial markets is that fear and greed can become irrational, short-term drivers of prices. Instead of joining
                        the crowd, watch them to give you an advantage in assessing a stock’s price movements. Stick with your plan and use discipline and patience.
                    </li>
                    <li>
                        <strong>Minimize transaction costs: </strong>Keep in mind that because trading is typically active and short-term, transaction costs are significant. Active trading can mean lots of brokerage commissions, even in this age of Internet-based
                        brokerage firms. Therefore, traders who trade frequently should shop around for brokerage firms that charge low commissions.
                    </li>
                    <li>
                        <strong>Understand the beta of a stock: </strong>The volatility of a stock is an important consideration for traders. The more volatile a stock is, the greater its ups and downs are. Therefore, traders should regularly check the
                        stock’s beta. Beta is a statistical measure of how volatile a particular stock is relative to a market standard.<br>How is it measured? The S&P 500 (for example) is given a beta of 1. A stock with a beta of 2 is considered twice
                        as volatile as the index. In other words, if the index falls by 10 percent, the stock in question has the potential of falling by 20 percent.<br>Traders looking for fast (and hopefully profitable) movement look for high-beta opportunities.
                        A stock’s beta can be found on various financial websites.
                    </li>
                    <li>
                        <strong>Read and learn from top traders: </strong>Last (but not least), learn from the great ones out there, such as the legendary Jesse Livermore. You can read all about his trading exploits in the book Reminiscences of a Stock
                        Operator by Edwin Lefèvre and Jon D. Markman (Wiley).
                    </li>
                    <br>
                    <p>Don’t forget the advice from the immortal Will Rogers: “Don’t gamble. Take all your savings and buy some good stock and hold it till it goes up; then sell it. If it don’t go up, don’t buy it.”</p>
                </ul>


            </div>
        </div>
    </div>
</div>