.user {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 80%;
    object-fit: cover;
}

.myAnchor {
    color: #000;
    text-transform: capitalize;
}

.mySearchBox {
    width: 400px;
}

.myHeadingLink {
    color: rgba(0, 0, 0, 0.637);
}

.myHeadingLink:hover {
    text-decoration: none;
    color: black;
}