<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <b class='title'>
                                        NASDAQ Composite (^IXIC)
                                    </b>
                                    <p>
                                        <span class='subtitle'> Nasdaq GIDS - Nasdaq GIDS Delayed Price. Currency in USD
                                              </span>
                                    </p>
                                    <p>
                                        <b>{{latestClose[2]}} </b> <span class='difference'> {{sign[2]}}{{difference[2]}}  {{percentage[2]}}</span>
                                    </p>

                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-2">
                                    <div id="chart3" class="mychart">
                                        Loading chart...
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-2">
                                    <b class='title'>
                                        Dow Jones Industrial Average (^DJI)
                                      </b>
                                    <p>
                                        <span class='subtitle'> DJI - DJI Real Time Price. Currency in USD
                                              </span>
                                    </p>
                                    <p>
                                        <b>{{latestClose[1]}} </b> <span class='difference'> {{sign[1]}}{{difference[1]}}  {{percentage[1]}}</span>
                                    </p>

                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">
                                    <div id="chart2" class="mychart">
                                        Loading chart...
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-md-2">
                                    <b class='title'>
                                        S&P 500 (^GSPC)
                                      </b>
                                    <p>
                                        <span class='subtitle'> SNP - SNP Real Time Price. Currency in USD
                                              </span>
                                    </p>
                                    <p>
                                        <b>{{latestClose[0]}} </b> <span class='difference'> {{sign[0]}}{{difference[0]}}  {{percentage[0]}}</span>
                                    </p>
                            </tr>
                            <tr>
                                <td class="col-md-2">
                                    <div id="chart1" class="mychart">
                                        Loading chart...
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr class="text-center">
                                <td>
                                    <h4>Top trending News</h4>
                                    Sort by: <a class="btn btn-link" data-toggle="button" (click)="getNews()">Latest</a> | <a class="btn btn-link" data-toggle="button" (click)="getTopNews()">Top</a>
                                </td>
                                <td>
                                    <ul class="pagination pagination-sm pull-right">

                                        <li [ngClass]="{disabled:pager.currentPage===1 } ">
                                            <a class="btn btn-link" (click)="setPage(pager.currentPage - 1) ">Previous</a>
                                        </li>
                                        <li *ngFor="let page of pager.pages " [ngClass]="{active:pager.currentPage==page}">
                                            <a class="btn btn-link" (click)="setPage(page) ">{{page}}</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage===pager.totalPages} ">
                                            <a class="btn btn-link" (click)="setPage(pager.currentPage + 1) ">Next</a>
                                        </li>

                                    </ul>
                                </td>
                            </tr>

                            <tr *ngFor="let article of pagedItems">
                                <td class="col-md-2" colspan="2">
                                    <div class="media well">
                                        <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="{{article['urlToImage']}}" class="mediaImage media-object" /></a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="{{article.url}}" target="_blank">{{article['title']}}</a>
                                            </h4> {{article['description']}}

                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>